.DS_Store

img/Flayer/*
img/Foto/*
img/Gambar/*
img/Ijazah/*
img/Ktp/*
img/PengalamanKerja/*
img/Sertifikasi/*
config/koneksi.php


*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
